*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
:root {
  --primary-color: #6d28d9;
  --secondary-color: #ede9fe;
  --main-white: #fff;
  --main-black: #222;
  --main-grey: #7c7c7c;
  --main-spacing: 0.1rem;
  --main-transition: all 0.3s linear;
  --main-red: #db2777;
  --body-color: #f6f6f6;
}
body {
  position: relative;
  color: var(--main-black);
  background: var(--main-white);
  font-family: sans-serif;
  background-color: var(--body-color);
}
.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 170px;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
  padding-bottom: 1rem;
}
#search {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  width: 20rem;
}
#search:focus {
  border: 2px solid var(--primary-color);
}
.filter-box {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.filter-box a {
  display: block;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 10px;
}
.filter-box a:hover {
  background-color: var(--primary-color);
  color: var(--main-white);
}
.products {
  padding: 4rem 0;
}
.products-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 3rem;
  grid-row-gap: 5rem;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  background-color: var(--main-white);
  padding-bottom: 1rem;
}
.img-container {
  display: block;
  width: 100%;
  min-height: 12rem;
  border-radius: 8px 8px 0 0;
}
.product-desc {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.product-price {
  color: var(--primary-color);
}
.product-title {
  color: var(--main-black);
  font: bold;
  font-size: 1.1rem;
}
